*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#38bdf8;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
}

.hero{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.hero h1{
    font-size:52px;
}

.hero span{
    color:#38bdf8;
}

.hero h2{
    margin:20px 0;
    color:#94a3b8;
}

.hero p{
    max-width:700px;
    line-height:1.7;
}

.buttons{
    margin-top:35px;
}

.buttons a{
    display:inline-block;
    margin:10px;
    padding:12px 26px;
    border-radius:8px;
    text-decoration:none;
    background:#38bdf8;
    color:#0f172a;
    font-weight:bold;
}

#about{
    padding:80px 10%;
}

#about h2{
    margin-bottom:20px;
    color:#38bdf8;
}
